<footer class="footer" role="contentinfo">
  {{> components/psdc-common/usp-section}}
  <div class="footer-info-inn">
    <div class="container">
      <section class="footer-info footer-wrap">
        <article class="footer-info-col footer-info-col--small footer-store-logo" data-section-type="footer-logo">
          <div class="logo-block">
            <div class="footer-logo-img">
              <a href="{{urls.home}}">
                <img class="footer-logo-image" src="https://birdandbeanshop.mybigcommerce.com/product_images/uploaded_images/footer-logo.png" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
              </a>
            </div>
            <span class="footer-owner-email">hello@birdandbeanshop.com</span>
          </div>
        </article>
        <article class="footer-info-col footer-info-col--small footer-hours" data-section-type="footer-hours">
          <div class="footer-info--col-inn">
            <h5 class="footer-info-heading footer-toggle-title">
              <strong>{{lang 'footer.hours'}}</strong>
              <svg class="down"><use xlink:href="#icon-keyboard-arrow-down"></use></svg>
            </h5>
            <div class="footer-toggle-content">
              <h6>Monday-Wednesday: <br /> 10am-7pm <br /> Thursday-Saturday: <br /> 9am-8pm <br /> Sunday: 10am-6pm</h6>
            </div>
          </div>
        </article>
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
          <article class="footer-info-col footer-info-col--small"
              data-section-type="footer-webPages">
                  <h5 class="footer-info-heading">
                    <!-- {{lang 'social.connect'}} -->
                  </h5>
                  {{> components/common/social-links}}
          </article>
        {{/if}}
      </section>
    </div>
  </div>
</footer>
